// ----------Banner----
// ------------------------------------------------------------------------------

.banner {
	padding-bottom: 49.8%;
	position: relative;
	overflow: hidden;
	@include media-breakpoint-down(lg) {
		padding-bottom: 100vh;
	}
	@include media-breakpoint-down(sm) {
		padding-bottom: 140.48%;
	}
}

.banner__info {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 400;
	text-align: center;
}


.banner__title {
	font-family: $font-sec;
	font-size: 200px;
	font-weight: 400;
	line-height: 240px;
	letter-spacing: 0;
	position: relative;
	@media only screen and (min-width: 1201px) and (max-width: 1500px) {
		font-size: 150px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 80px;
		font-weight: 400;
		line-height: 96px;
	}
}

.banner__pre {
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 50px;
	font-weight: 400;
	line-height: 60px;
	letter-spacing: 0;
	display: inline-block;
	width: 100%;
	@media only screen and (min-width: 1201px) and (max-width: 1500px) {
		top: 0;
		font-size: 45px;
		line-height: 50px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 30px;
		font-weight: 400;
		line-height: 36px;
		top: -20px;
	}
}

.banner__subtitle {
	font-family: $font-default;
	font-size: 24px;
	font-weight: 200;
	line-height: 29px;
	letter-spacing: 0.5em;
	margin-top: -20px;
	margin-bottom: 140px;
	@media only screen and (min-width: 1201px) and (max-width: 1500px) {
		margin-top: -35px;
		margin-bottom: 75px;
		font-size: 22px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 16px;
		font-weight: 200;
		line-height: 20px;
		letter-spacing: 0.5em;
		margin-top: -10px;
		margin-bottom: 60px;
	}
}

.banner__btn {
	color: $black;
	font-family: $font-default;
	font-size: 30px;
	font-weight: 300;
	line-height: 37px;
	letter-spacing: 0;
	padding: 11px 48px;
	border-radius: 31px;
	border: 1px solid $white;
	box-shadow: 6px 5px 10px 3px rgba(54, 54, 54, 0.24);
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, #E8EAF1 2.4%, rgba(235, 236, 240, 0) 98.82%);
		z-index: -1;
		border-radius: 31px;
		pointer-events: none;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, #E8EAF1 2.4%, rgba(32, 32, 32, 0.3) 98.82%);
		z-index: -1;
		border-radius: 31px;
		opacity: 0;
		transition: opacity 0.4s ease-in-out;
		pointer-events: none;
	}
	@include hover {
		&::after {
			opacity: 1;
		}
	}
	@media only screen and (min-width: 1201px) and (max-width: 1500px) {
		font-size: 20px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 16px;
		font-weight: 300;
		line-height: 20px;
	}
}

.banner__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.banner__video {
	width: 100%;
	opacity: .4;
	@include media-breakpoint-down(lg) {
		position: absolute;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		width: auto;
		height: 100vh;
	}
	@include media-breakpoint-down(sm) {
		width: 250%;
		height: auto;
		@supports (-webkit-touch-callout: none) {
			display: none;
		}
	}
}

.banner__img {
	display: none;
	opacity: 0.4;
	@include media-breakpoint-down(sm) {
		@supports (-webkit-touch-callout: none) {
			display: block;
		}
	}
}