// ----------Branding----
// ------------------------------------------------------------------------------

.branding {
	display: flex;
	margin-bottom: 60px;
	overflow: hidden;
	@include media-breakpoint-down(sm) {
		margin-bottom: 24px;
	}
}

.branding__container {
	background: linear-gradient(90deg, #222221 0%, #000000 22.13%, #000000 76.69%, #222221 98.82%);
	border-radius: 50px;
	border: 2px solid $white;
	color: $white;
	position: relative;
}

.branding__title {
	font-family: $font-sec;
	font-size: 36px;
	font-weight: 400;
	line-height: 43px;
	letter-spacing: 0;
	position: absolute;
	top: 32px;
	left: 70px;
	@include media-breakpoint-down(sm) {
		left: 50%;
		transform: translateX(-50%);
		font-family: Ailerons;
		font-size: 28px;
		font-weight: 400;
		line-height: 34px;
		letter-spacing: 0;
		text-align: center;

	}
}

.branding__slider {
	display: flex;
	.slick-track {
		display: flex;
	}
}

.branding__slide {
	padding: 75px 50px;
	flex: 0 0 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&.slick-slide {
		display: flex;
		flex: 0 0 calc(100vw - 66px);
	}
	@include media-breakpoint-down(xl) {
		padding: 100px 50px;
	}
	@include media-breakpoint-down(sm) {
		padding: 100px 50px 150px;
	}
}

.branding__picture {
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}

.branding__image {
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}

.branding__prev {
	width: 66px;
	height: 66px;
	background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
	background-blend-mode: soft-light, normal;
	box-shadow: -2px -2px 5px rgba(#FAFBFF, 0.4), 5px 5px 10px rgba(#A6ABBD, 0.4);
	border-radius: 10px;
	text-indent: initial;
	position: absolute;
	top: 50%;
	left: -8px;
	transform: translateY(-50%);
	.icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 19px;
		color: #a3adb2;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
		opacity: 0;
		transition: opacity 0.4s ease-in-out;
		border-radius: 10px;
	}
	@include hover {
		&::after {
			opacity: 1;
		}
	}
	@include media-breakpoint-down(sm) {
		width: 48px;
		height: 48px;
		left: -24px;
	}
}

.branding__next {
	width: 66px;
	height: 66px;
	background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
	background-blend-mode: soft-light, normal;
	border-radius: 10px;
	text-indent: initial;
	position: absolute;
	top: 50%;
	right: -8px;
	transform: translateY(-50%);
	box-shadow: -2px -2px 5px rgba(#FAFBFF, 0.4), 5px 5px 10px rgba(#A6ABBD, 0.4);

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
		opacity: 0;
		transition: opacity 0.4s ease-in-out;
		border-radius: 10px;
	}
	.icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(180deg);
		font-size: 19px;
		color: #a3adb2;
	}
	@include hover {
		&::after {
			opacity: 1;
		}
	}
	@include media-breakpoint-down(sm) {
		width: 48px;
		height: 48px;
		right: -24px;
	}
}