// ----------  layout
// ------------------------------------------------------------------------------

.footer {
	width: 100%;
	margin-bottom: 50px;
	color: $white;
	@include media-breakpoint-down(sm) {
		margin-bottom: 25px;
	}
}

.footer__container {
	background-color: $black;
	border-radius: 56px;
	padding: 107px 20px 80px;
	border: 2px solid $grey-border;
	box-shadow: 1px 1px 1px 1px rgba($black, 0.25),
	-1px -1px 2px 0px rgba($white, 1);
	display: flex;
	position: relative;
	@media only screen and (max-width: 1335px) {
		flex-wrap: wrap;
		padding: 20px 20px 80px;
	}
	@include media-breakpoint-down(sm) {
		padding: 25px 20px 50px;
	}
}

.footer__info {
	opacity: 0;
}

.footer__group {
	max-width: 30%;
	width: 100%;
	display: flex;
	flex-direction: column;
	&:first-child {
		max-width: 60%;
		align-items: center;
		justify-content: center;
		.footer__info {
			max-width: 52%;
		}
	}
	@media only screen and (max-width: 1335px) {
		max-width: 50%;
		text-align: center;
		&:first-child {
			max-width: 100%;
			.footer__info {
				max-width: 40%;
				margin-bottom: 45px;
			}
		}
	}
	@include media-breakpoint-between(md,lg) {
		max-width: 45%;
		text-align: left;
		&:first-child {
			align-items: flex-start;
			max-width: 90%;
			margin: auto;
			.footer__info {
				max-width: 100%;
				text-align: left;
			}
		}
		&:nth-child(2) {
			margin: 0 0 0 auto;
		}
		&:nth-child(3) {
			margin: 0 auto 0 0;
		}
	}
	@include media-breakpoint-down(sm) {
		max-width: 50%;
		&:first-child {
			.footer__info {
				max-width: 100%;
				margin-bottom: 17px;
			}
		}
	}
	@media only screen and (max-width: 681px) {
		max-width: 100%;
		align-items: center;
		.footer__items,
		.footer__socials {
			min-width: 280px;
		}
	}
}

.footer__logo {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 20px;
	@media only screen and (max-width: 1335px) {
		position: static;
		margin-bottom: 20px;
	}
	@include media-breakpoint-between(md, lg) {
		margin-left: -17px;
	}
	@include media-breakpoint-down(sm) {
		margin-bottom: 17px;
	}
}

.footer__logo-link {
	color: $white;
	font-family: $font-sec;
	font-size: 128px;
	font-weight: 400;
	line-height: 154px;
	letter-spacing: 0;
	@include media-breakpoint-down(sm) {
		font-size: 56px;
		font-weight: 400;
		line-height: 45px;
	}
}

.footer__column-title {
	font-size: 24px;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0;
	margin-bottom: 25px;
	@include media-breakpoint-down(sm) {
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
	}
}

.footer__item,
.footer__social {
	margin-bottom: 45px;
	@include media-breakpoint-down(sm) {
		max-width: 80%;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
	}
}

.footer__link {
	font-size: 18px;
	font-weight: 400;
	line-height: 46px;
	letter-spacing: 0;
	color: $white;
	.icon {
		font-size: 28px;
		margin-right: 27px;
	}
	@include hover {
		.footer__link-text {
			&::after {
				transform: scaleX(1);
			}
		}
	}
	@include media-breakpoint-down(sm) {
		font-size: 16px;
		font-weight: 300;
		line-height: 12.8px;
		.icon {
			font-size: 20px;
			margin-right: 25px;
		}
	}
}

.footer__link-text {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $white;
		transform: scaleX(0);
		transition: transform 0.4s ease-in-out;
		transform-origin: left;
	}
}

.footer__copy {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	@include media-breakpoint-down(sm) {
		text-align: center;
		max-width: 240px;
		width: 100%;
	}
}