// ----------Intro----
// ------------------------------------------------------------------------------

.intro {
	padding-top: 150px;
	margin-bottom: 60px;
	.wrap {
		width: 100%;
		padding: 0 30px;
	}
	@include media-breakpoint-down(sm) {
		padding-top: 50px;
		margin-bottom: 24px;
	}
}

.intro__container {
	display: flex;
	position: relative;
	background-color: $grey-bg-2;
	border-radius: 56px;
	padding: 32px 70px;
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		transform: translate(-50%, -50%);
		background: linear-gradient(100.7deg, rgba(255, 255, 255, 1) 50.68%, #7D7D7D 99.63%);
		border-radius: 56px;
		z-index: -1;
	}
	@include media-breakpoint-down(sm) {
		padding: 20px;
		text-align: center;
	}
}

.intro__box {
	max-width: 1144px;
	position: relative;
	@media only screen and (min-width: 1025px) and (max-width: 1279px){
		max-width: 50%;
	}
}

.intro__title {
	font-family: $font-sec;
	font-size: 36px;
	font-weight: 400;
	line-height: 43px;
	letter-spacing: 0;
	margin-bottom: 25px;
	@include media-breakpoint-down(sm) {
		font-size: 28px;
		font-weight: 400;
		line-height: 34px;
		margin-bottom: 20px;
	}
}

.intro__text {
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0;
	margin-bottom: 30px;
	max-width: 712px;
	@include media-breakpoint-down(sm) {
		font-size: 16px;
		font-weight: 300;
		line-height: 20px;
		margin-bottom: 20px;
	}
}

.intro__important {
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0;
	max-width: 280px;
	display: block;
	margin-bottom: 16px;
	@include media-breakpoint-down(sm) {
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
	}
}

.intro__img	{
	max-width: 506px;
	position: absolute;
	top: -40%;
	left:  50vw;
	@media only screen and (min-width: 1280px) and (max-width: 1600px) {
		left: 60vw;
	}
	@media only screen and (min-width: 1025px) and (max-width: 1279px){
		width: 35vw;
		top: 50%;
		transform: translate(0, -50%);
		right: 5vw;
		left: initial;
	}
	@media only screen and (min-width: 768px) and (max-width: 1024px) {
		display: none;
	}
	@include media-breakpoint-down(sm) {
		display: none;
	}
}