// ----------SOCIAL----
// ------------------------------------------------------------------------------

.social {
	position: absolute;
	right: 0;
	bottom: 5vh;
	display: flex;
	align-items: center;
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.social__title {
	max-width: 27px;
	overflow-wrap: break-word;
	font-family: $font-default;
	font-size: 24px;
	font-weight: 200;
	line-height: 29px;
	letter-spacing: 0.5em;
	margin-right: 13px;
}

.social__list {
	width: 112px;
	@include media-breakpoint-down(lg) {
		width: 65px;
	}
}

.social__item {
	margin: 29px 0;
}

.social__link {
	display: inline-block;
	width: 36px;
	height: 36px;
	background-color: $black;
	color: $white;
	border-radius: 10px;
	border: 1px solid $black;
	position: relative;
	display: flex;
	box-shadow: 5px 5px 10px 0px rgba(166, 171, 189, 1), -5px -5px 10px 0px rgba(250, 251, 255, 1);
	transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
	.icon {
		color: inherit;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	@include hover {
		background-color: $white;
		color: $black;
	}
}
