// ----------  layout
// ------------------------------------------------------------------------------
html {
	scroll-behavior: smooth;
}

body {
	font-family: $font-default;
	font-size: 14px;
	font-weight: 400;
	color: $black;
	background-color: $grey-bg;
}

.scroll-disabled {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.wrap {
	margin: 0 auto;
	max-width: 1920px;
	padding: 0 30px;
	width: 100%;
}

[data-object-fit='cover'] {
	object-fit: cover;
}

[data-object-fit='contain'] {
	object-fit: contain;
}
