// ----------  variables
// ------------------------------------------------------------------------------

$font-default: 'Montserrat', sans-serif;

$font-sec: 'Ailerons', sans-serif;

// Colors
$white: #fff;
$black: #000;
$grey-bg: #EAECF2;
$grey-bg-2: #EBECF0;
$grey-border: #7d7d7d;
$form-border: #aebed7;;
$video-title: #222221;


// ----------  Bootstrap grid
// ------------------------------------------------------------------------------

$enable-grid-classes: true !default;

// ----------  Media queries breakpoints - Grid breakpoint
// ------------------------------------------------------------------------------

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1335px
) !default;

// ----------  Grid containers
// ------------------------------------------------------------------------------

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
) !default;

// ----------  Grid columns
// ------------------------------------------------------------------------------

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
